MONGO_URI=mongodb+srv://leamazmanian04_db_user:Q1WZyDBqp9nlctfY@cluster0.p4rg79o.mongodb.net/jewelryStore?retryWrites=true&w=majority
JWT_SECRET=some_long_random_string_here_12345
SUPABASE_URL=https://dnspnvfbtcgjovciesbm.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRuc3BudmZidGNnam92Y2llc2JtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk0OTQ1MTMsImV4cCI6MjEwNTA3MDUxM30.oY9fk5DkZOek60Oxxuk0ZFq3ydR-oehaVaS2moSD9o0
DEEPL_API_KEY=9555a4af-9436-4504-9876-ff857992ae2e:fx